
// Placeholder 
%info {
  font-size: $font-size-info;
}

//  .info, .success ve .warning 
.info {
  @extend %info; // .info  %info placeholder
}

.success {
  @extend %info; // .success ->� %info placeholder
  color: #00FF00;ı
}

.warning {
  @extend %info; // .warning -> %info placeholder
  color: #FF0000; ı
}

