// Placeholder selector for .info
%size {
  font-size: 12px; // Define font size once here
}


// Extend %size for .success
.success {
  @extend %size;
  color: #00FF00; // Green color for success messages
}

// Extend %size for .warning
.warning {
  @extend %size;
  color: #FF0000; // Red color for warning messages
}

// Extend %size for .info
.info {
  @extend %size;
}

